{
    "extends": "google",
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "max-len": [
            1,
            {
                "code": 140
            }
        ],
        "comma-dangle": ["error", "awlays-multiline"],
        "indent": [
            "error",
            2
        ],
        "object-curly-newline": 0,
        "object-curly-spacing": 0
    }
}
